<!DOCTYPE html>
<html>
<head>
	
	<title>University Review's Top 25</title>

	<link rel="stylesheet" type="text/css" href="CSS/Top25Universities.css">
	<link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

</head>
<body>

	<div id="header" class="header">
		<img id="logo" src="/images/white_university_review_logo_copy.png"> 
		<h1>University Review's Top 25 Colleges</h1>
		<h2>of 2017</h2>
	</div>


<div id="main_box"> <!--Main Box-->
	
	<div class="College_1">
		
		<h2>1. Yale Univeristy</h2>
	<div id="Yale_img">
		<img src="/images/yale.jpg" height="400px" width="600px">
	</div>
		<p>Location: New Haven, CT</p>
		<p>Acceptance Rate: 6.3%</p>
		<p>Endowment: 25.57 Billion USD</p>
		<p>Undergraduate Size: 5,453</p>

	</div>

	<div class="College_2">
		
		<h2>2. Stanford University</h2>

		<img src="/images/stanford.jpg" height="200px" width="300">

		<p>Location: Stanford, CA</p>
		<p>Acceptance Rate: 4.8% </p>
		<p>Endowment: 22.2 Billion USD</p>
		<p>Undergraduate Size: 6,980 </p>
	</div>

	<div class="College_3">
		
		<h2>3. Princeton University</h2>

		<img src="/images/princeton.jpg" height="200px" width="300">

		<p>Location: Princeton, NJ</p>
		<p>Acceptance Rate: 6.5% </p>
		<p>Endowment: 22.7 Billion USD</p>
		<p>Undergraduate Size: 5,391</p>
	</div>

	<div class="College_4">
		
		<h2>4. Harvard University</h2>

		<img src="/images/harvard-university.jpg" height="200px" width="300">

		<p>Location: Cambridge, MA</p>
		<p>Acceptance Rate: 5.4%</p>
		<p>Endowment: 37.6 Billion USD</p>
		<p>Undergraduate Size: 6,700 </p>
	</div>

	<div class="College_5">
		
		<h2>5. University of Chicago</h2>

		<img src="/images/chicago.jpg" height="200px" width="300">

		<p>Location: Chicago, IL</p>
		<p>Acceptance Rate: 7.6%</p>
		<p>Endowment: 7.5 Billion USD </p>
		<p>Undergraduate Size: 5,860</p>
	</div>

	<div class="College_6">
		
		<h2>6. Columbia University</h2>

		<img src="/images/columbia_university.jpg" height="200px" width="300">

		<p>Location: Manhatten, NY </p>
		<p>Acceptance Rate: 6% </p>
		<p>Endowment: 9.6 Billion USD </p>
		<p>Undergraduate Size: 8,410 </p>
	</div>

	<div class="College_7">
		
		<h2>7. Massachusetts Institute of Technology </h2>

		<img src="/images/mit.jpg" height="200px" width="300">

		<p>Location: Cambrudge, MA</p>
		<p>Acceptance Rate: 7.9%</p>
		<p>Endowment: 13.4 Billion USD</p>
		<p>Undergraduate Size: 4,512 </p>
	</div>

	<div class="College_8">
		
		<h2>8. University of Pennsylvania</h2>

		<img src="/images/upenn.jpg" height="200px" width="300">

		<p>Location: Philadelphia, PA</p>
		<p>Acceptance Rate: 9.4% </p>
		<p>Endowment: 10.7 Billion USD</p>
		<p>Undergraduate Size: 10,406</p>
	</div>

	<div class="College_9">
		
		<h2>9. Rice University</h2>

		<img src="/images/rice.jpg" height="200px" width="300">

		<p>Location: Houston, TX </p>
		<p>Acceptance Rate: 14%</p>
		<p>Endowment: 5.5 Billion USD</p>
		<p>Undergraduate Size: 3,879</p>
	</div>

	<div class="College_10">
		
		<h2>12. Dartmouth College</h2>

		<img src="/images/dartmouth.jpg" height="200px" width="300">

		<p>Location: Hanover, NH </p>
		<p>Acceptance Rate: 10.5%</p>
		<p>Endowment: 4.7 Billion USD</p>
		<p>Undergraduate Size: 4,307</p>
		
	</div>

	<div class="College_11">
	
		<h2>11. Johns Hopkins University</h2>

		<img src="/images/jhu.jpg" height="200px" width="300">

		<p>Location: Baltimore, MD</p>
		<p>Acceptance Rate: 11.4%</p>
		<p>Endowment: 3.4 Billion USD</p>
		<p>Undergraduate Size: 6,023 </p>
	</div>

	<div class="College_12">
		
		<h2>12. Northwestern University </h2>

		<img src="/images/northwestern.jpg" height="200px" width="300">

		<p>Location: Evanston, IL </p>
		<p>Acceptance Rate: 10.7%</p>
		<p>Endowment: 10.1 Billion USD </p>
		<p>Undergraduate Size: 8,314</p>
	</div>

	<div class="College_13">
		
		<h2>13. Brown University</h2>

		<img src="/images/brown.jpg" height="200px" width="300">

		<p>Location: Providence, RI</p>
		<p>Acceptance Rate: 9.2%</p>
		<p>Endowment: 3.3 Billion USD</p>
		<p>Undergraduate Size: 6,320</p>
	</div>

	<div class="College_14">
		
		<h2>14. Vanderbilt University</h2>

		<img src="/images/vanderbilt.jpg" height="200px" width="300">

		<p>Location: Nashville, TN</p>
		<p>Acceptance Rate: 10.7%</p>
		<p>Endowment: 4.1 Billion USD</p>
		<p>Undergraduate Size: 6,851</p>
	</div>

	<div class="College_15">
		
		<h2>15. Carnegie Mellon University</h2>

		<img src="/images/carnegie_mellon_university.jpg" height="200px" width="300">

		<p>Location: Pittsburgh, PA</p>
		<p>Acceptance Rate: 13.7%</p>
		<p>Endowment: 1.7 Billion USD</p>
		<p>Undergraduate Size: 6,362 </p>
	</div>

	<div class="College_16">
		
		<h2>16. Cornell University</h2>

		<img src="/images/cornell.jpg" height="200px" width="300">

		<p>Location: Ithaca, NY</p>
		<p>Acceptance Rate: 14% </p>
		<p>Endowment: 6 Billion USD </p>
		<p>Undergraduate Size: 14,315</p>
	</div>

	<div class="College_17">
		
		<h2>17. University of Notre Dame</h2>

		<img src="/images/notre_dame.jpg" height="200px" width="300">

		<p>Location: Notre Dame, IN </p>
		<p>Acceptance Rate: 18.3% </p>
		<p>Endowment: 10.4 Billion USD </p>
		<p>Undergraduate Size: 8,448</p>
	</div>


	<div class="College_18">
		
		<h2>18. Washington University in St. Louis</h2>

		<img src="/images/washington-u.-st.-louis.jpg" height="200px" width="300">

		<p>Location: St. Louis, MO</p>
		<p>Acceptance Rate: 16.2%</p>
		<p>Endowment: 6.4 Billion USD</p>
		<p>Undergraduate Size: 7,543</p>
	</div>

	<div class="College_19">
		
		<h2>19. University of California-Berkeley</h2>

		<img src="/images/university_of_california-berkeley.jpg" height="200px" width="300">

		<p>Location: Berkeley, CA</p>
		<p>Acceptance Rate: 17.5%</p>
		<p>Endowment: 4 Billion USD</p>
		<p>Undergraduate Size: 27,496</p>
	</div>


	<div class="College_20">
		
		<h2>20. Georgetown University</h2>

		<img src="/images/georgetown.jpg" height="200px" width="300">

		<p>Location: Washington, DC</p>
		<p>Acceptance Rate: 16.4%</p>
		<p>Endowment: 1.5 Billion USD</p>
		<p>Undergraduate Size: 7,636 </p>
	</div>

	<div class="College_21">
		
		<h2>21. University of Southern California</h2>

		<img src="/images/USC.jpg" height="200px" width="300">

		<p>Location: Los Angeles, CA</p>
		<p>Acceptance Rate: 16.5%</p>
		<p>Endowment: 4.6 Billion USD</p>
		<p>Undergraduate Size: 18,740</p>
	</div>

	<div class="College_22">
		
		<h2>22. University of Virginia </h2>

		<img src="/images/uva.jpg" height="200px" width="300">

		<p>Location: Charlottesville, VA</p>
		<p>Acceptance Rate: 29%</p>
		<p>Endowment: 7.5 Billion USD </p>
		<p>Undergraduate Size: 15,891 </p>
	</div>

	<div class="College_23">
		
		<h2> University of California- Los Angeles</h2>

		<img src="/images/UCLA.jpg" height="200px" width="300">

		<p>Location: Los Angeles, CA</p>
		<p>Acceptance Rate: 18%</p>
		<p>Endowment: 3.3 Billion USD </p>
		<p>Undergraduate Size: 30,873</p>
	</div>

	<div class="College_24">
		
		<h2>24. Tufts University</h2>

		<img src="/images/Tufts.jpg" height="200px" width="300">

		<p>Location: Medford, MA</p>
		<p>Acceptance Rate: 14%</p>
		<p>Endowment: 1.5 Billion USD</p>
		<p>Undergraduate Size: 5,216</p>
	</div>

	<div class="College_25">
		
		<h2>25. University of Michigan- Ann Arbor </h2>

		<img src="/images/UMich.JPG" height="200px" width="300">

		<p>Location: Ann Arbor, MI</p>
		<p>Acceptance Rate: 28.6% </p>
		<p>Endowment: 9.7 Billion USD </p>
		<p>Undergraduate Size: 28,983</p>
	</div>
<br>
	<div class="Honorable_Mention">
		<h2>Honorable Mention</h2>
		<h4><li>University of North Carolina</li></h4>
		<h4><li>Boston College</li></h4>
		<h4><li>Wake Forest University</li></h4>
		<h4><li>College of William & Mary</li></h4>
	</div>
</div> <!--Main Box-->	

<!--Pop-Up-->
	<form method="POST" action="/email" >
		<div class="Sign_Up_Modal" id="Modal">
   	 		<div class="modal_header">
    			<span id="close" class="close">&times;</span>
				<h2>University Review</h2>
    		</div>
   	 	
				<p>Sign up Below</p>
		
			
				<table class="table">
					<tr>
						<th><label>Email</label></th>
						<td><input id="email" type="text" name="email" placeholder="Enter Email Here"></td>
						<td><input id="_enter" name="_enter" type="submit" value="Submit"></td>
						</th>
					</tr>
				</table>
			
		
				<p>If you would like to be alerted when University Review's</p> 
					<p><strong>Iphone Mobile App</strong><p>
							<p>and</p> 
					<p><strong>Website</strong><p>
						<p>are released!!</p>
		
				

		</div> <!--pop up-->
	</form>
		
		<div class="side_modal" id="side_modal">
			<div class="Facebook_Share_Button" id="facebook">
				<link href="https://www.facebook.com/UniversityReviewLLC/"><img src="/images/Facebook_button.png">
				<p>UReview's Facebook Page</p>
			</div>

			<div class="Tweet_Button">
				<link href="https://twitter.com/UReview_"><img src="/images/twitter-icon.png"></a>
				<p>UReview's Twitter Account</p>
			</div>

			
		</div>





<meta name="viewport" content="width=device-width" />

<script src="Javascript/Top25Universities.js"></script>
<script src="Javascript/Cookie_Script_copy.js" ></script>
</body>
</html>